<div  class="clearfix" ng-show="authenticated" >
    <!--  -->
    <h1>User List</h1>
    <div ng-controller = "userController">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>User Name</th>
                <th>Create Time</th>
            </tr>
            <tr ng-repeat = "user in users">
                <td>
                    <span>{{user.username}}</span>

                </td>
                <td>
                    <span>{{user.created_at|date:"h:mma 'on' MMM d, y"}}</span>
                </td>
            </tr>
        </table>
    </div>
    <h1 >Course Manager</h1>
    <div ng-controller = "courseController">
        <form  name="courseForm" ng-Submit="course()" >
            <input id= "c_id_input"  placeholder="Add course ID" ng-model="newCourse.courseID"/>
            <input id= "c_name_input"  placeholder="Add course name" ng-model="newCourse.courseName"/>
            <button type="submit" class="btn btn-success pull-right">Add Course</button>
        </form>

        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat = "course in courses">
                <td>
                    <span ng-if="!course.isEditing" >{{course.courseID}}</span>
                    <form ng-submit="updateCourse(course)">
                        <input id="id_input" type="text" ng-if="course.isEditing" class="form-control"
                               ng-value="course.courseID" ng-model="course.updatedCourseId" />
                    </form>
                </td>
                <td>
                    <span ng-if="!course.isEditing">{{course.courseName}}</span>
                    <form ng-submit ="updateCourse(course)" >
                        <input id="course_input" ng-if="course.isEditing" class="form-control"
                               ng-value="course.courseName" ng-model="course.updatedCourseName" />
                    </form>
                </td>
                <td>
                    <button ng-if="!course.isEditing" class="btn btn-info"
                            ng-click="onEditClick(course)" >Edit</button>
                    <button ng-if="!course.isEditing" class="btn btn-danger"
                            ng-click="deleteCourse(course)">Delete</button>

                    <button ng-if="course.isEditing" class="btn btn-primary"
                            ng-click="updateCourse(course)">Save</button>
                    <button ng-if="course.isEditing" class="btn btn-default"
                            ng-click="onCancelClick(course)">Cancel</button>
                </td>
            </tr>
        </table>
    </div>
    <hr>
	<h1>Discussion Board</h1>
	<div id="main" ng-controller = "mainController">
        <form ng-Submit="post()" >
            <h4>{{current_user}} says</h4>
            <textarea required class="form-control" maxlength="200" rows="3" placeholder="Say something" ng-model="newPost.text"></textarea>
            <input class="btn submit-btn btn-primary pull-right" type="submit" value="Post" />
        </form>
        <div id="post-stream">
            <h4>Discussion Feed</h4>
                <div class="post" ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
                    <p>{{post.text}}</p>
                    <small>Posted by @{{post.created_by}}</small>
                    <small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
                </div>
            </div>
        </div>
</div>



